html
  head
    title= title 
  body
    h1= message
    h2= artid
    form(action="/articles" method="POST")
        label(for='title') Title
        input#title(type='text' name='title' placeholder='Enter your title')
        br
        label(for='text') Article Text
        input#text(type="textarea" name="text" placeholder="Enter Your Article Text ")
        br
        input(type="submit")
